.git
.github
node_modules
vendor
public/build
public/hot
public/storage
.env
.env.*
!.env.example
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
docs
postman
tests
.phpunit.result.cache
music-omr-engine/venv
music-omr-engine/__pycache__
